In [3]:
%matplotlib widget
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import numpy as np
plt.ion()

# Prune data
data = pd.read_csv("NYPD_arrests.csv", parse_dates=["ARREST_DATE"])

In [5]:
data = data[["ARREST_DATE", "OFNS_DESC", "LAW_CODE", "Latitude", "Longitude"]]
data = data.dropna(subset=['OFNS_DESC', "Latitude", "Longitude"])
data.head()

  ARREST_DATE          OFNS_DESC    LAW_CODE   Latitude  Longitude
1  2019-01-26         SEX CRIMES  PL 1306503  40.800694 -73.941109
3  2016-01-06               RAPE  PL 1302503  40.648650 -73.950336
4  2018-11-15               RAPE  PL 1303501  40.674583 -73.930222
5  2006-09-13  CRIMINAL TRESPASS  PL 140100E  40.671254 -73.926714
6  2018-10-24               RAPE  PL 1302503  40.716196 -73.997491